body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .sol, .luna {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD700;
  }

  .luna {
    background-color: #778899;
    animation: eclipseAnimation 5s infinite alternate;
  }

  @keyframes eclipseAnimation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }