body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .cookies-popup {
    display: none;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
  }

  .show {
    display: block;
    bottom: 20px;
    opacity: 1;
  }

  @keyframes showCookiesPopup {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 20px;
      opacity: 1;
    }
  }

  .cookies-popup.show {
    animation: showCookiesPopup 2s forwards;
  }