.circulo-rojo, .circulo-azul {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
}
.circulo-rojo {
    background-color: #e74c3c;
    left: 0;
}

.circulo-azul {
    background-color: rgba(52, 152, 219, 0.5); 
    left: 350px;
}

.circulo-azul:hover {
    left: 0;
}