.rojo {
    color: red;
}
.naranja{
    color: orange;
}
.naranjafuerte{
    color: orangered;
}
.verde{
    color: green;
}
.amarillo{
    color: yellow;
}
.marron{
    color: brown;
}
.gris{
    color: grey;
}
