.negrita{
    font-weight: normal;
}
.groc{
    color:rgb(241, 202, 76);
}
.subrallat{
    color: white;
    background-color: blue;
}
.morado{
    color:purple;
}
.sbrallat{
    color:white;
    background-color: green;
}