table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  tbody {
    display: block;
    max-height: 200px; 
    overflow-y: auto;
  }

  @media only screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin-bottom: 15px;
    }

    td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Título 1:"; }
    td:nth-of-type(2):before { content: "Título 2:"; }
    td:nth-of-type(3):before { content: "Título 3:"; }
    td:nth-of-type(4):before { content: "Título 4:"; }
    td:nth-of-type(5):before { content: "Título 5:"; }
    td:nth-of-type(6):before { content: "Título 6:"; }
    td:nth-of-type(7):before { content: "Título 7:"; }
    td:nth-of-type(8):before { content: "Título 8:"; }
  }