ul{
    list-style-type: none;

}
li{
    border: 1px solid black;
    padding: 1%;
    background-color: #615D9C ;
    color: white;
    margin-right: 0px;
    height: 50%;
    width: 4%;
}
li:hover {
    background-color: #000F;
}