.parr1{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 5%;
    margin-left: 0px;
}
.parr2{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 10%;
    margin-left: 0px;
}
.parr3{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 15%;
    margin-left: 0px;
}
.parr4{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 20%;
    margin-left: 0px;
}
.parr5{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 25%;
    margin-left: 0px;
}
.parr6{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 30%;
    margin-left: 0px;
}
.parr7{
    background-color: #333;
    color: white;
    padding: 15px 15px;
    Margin: 0px;
    Width: 35%;
    margin-left: 0px;
}